/*
	@author: Arnaud Allouis aka Baloran
	@uri: http://baloran.fr
*/

@import 'compass';
@import 'compass/reset';
@import 'conf/_conf.scss';

/** Import utils **/

@import 'utils/_utils.scss';

/** Import conf **/

@import 'conf/_color.scss';
@import 'conf/_font.scss';

/** Import grid **/

@import 'grid/_grid.scss';

/** Import Layout **/

@import 'layout/_layout.scss';

/** Import elements **/

@import 'elements/_elements.scss';

/*
	Todo:
		- mettre sa dans le reset.css
*/
*{
	@include box-sizing(border-box);
	outline:none;
}

html{
	height:100%;
}

body{
  color:$color_text;
  font-family: $font;
  background-image: image-url("bg.jpg");
  background-position: center fixed;
  background-size: cover;
  height: 100%;
  font-size: 100%; 
}

.main{
	background-color: rgba($main_color, 0.6);
	min-width:100%;
	min-height:100%;
	display: inline-block;
}



.container{
  	width: span(12);
}

.nav{
	li{
		display: inline-block;
		margin-top: 15px;
		margin-left: 10px;
		margin-bottom: 15px;
	}
}