/*
	Header
*/

.navbar{
	height: $navbar-height;
	width:100%;
	background-color: rgba($navbar-default,0.5);
	h1{
		font-size: 2em;
		line-height: 70px;
		margin-left: gutter();
		margin-right: gutter();
		float: left;
	}
}

.navbar ul{
	float: left;
	height: $navbar-height;
	position: relative;
	@include default-animation();
	li{
		min-width:85px;
		text-align: center;
		@include default-animation();
		height: inherit;
		padding:0px 15px;
		line-height: $navbar-height;
		display: inline-block;
		position: relative;
		a{
			color:white;
			padding: none;
			background-color: transparent;
		}
		&:hover{
			background-color: rgba($navbar-li,0.4);
			& > ul{
				display: inline-block;

			}
		}
	}
	li > ul{
		z-index: 100;
		position: absolute;
		top:$navbar-height; left:0;
		height:auto;
		display:none;
		width: 100%;
		background-color: rgba($main_color,0.7);
		& > li {
			cursor:pointer;
			width:inherit;
			margin:0px;
			display: block;
		}
	}
}
