/*
	Button
*/

.btn{
	border:1px solid white;
	background-color: rgba(black,0);
	color:white;
	padding:10px 15px;
	cursor:pointer;
	display: block;
	@include default-animation();
	margin-bottom: 15px;
	margin-top: 10px;
	&:hover{
		background-color: rgba(black,1);
	}
	&.btn-large{
		font-size: 0.9em;
	}
	&.btn-title{
		font-size: 1.2em;
	}
	&.btn-max{
		width:100%;
	}
}

.btn{
	&.danger{
		background-color: rgba($danger,0.5);
		&:hover{
			background-color: rgba(darken($danger,10%),1);
		}
	}&.success{
		background-color: rgba($success,0.5);
		&:hover{
			background-color: rgba(darken($success,10%),1);
		}
	}&.warning{
		background-color: rgba($warning,0.5);
		&:hover{
			background-color: rgba(darken($warning,10%),1);
		}
	}
}