/*
	Button
*/

.btn{
	border:1px solid white;
	background-color: rgba(black,0);
	color:white;
	padding:10px 15px;
	cursor:pointer;
	display: block;
	@include default-animation();
	margin-bottom: 15px;
	margin-top: 10px;
	&:hover{
		background-color: rgba(black,1);
	}
	&.btn-large{
		font-size: 0.9em;
	}
	&.btn-title{
		font-size: 1.2em;
	}
}